aside {
    display: none;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;

    & > img {
        width: 32px;
        margin: 5px;
        //transform: scaleX(-1);
    }
}

nav {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid black;
    border-bottom: 1px solid black;

    & > * {
        display: block;
        margin: 5px 5px;

        & > button {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

main#cards {
    min-height: 77vh;

    & > div {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

        //Extra large devices
        @media only screen and (max-width: 1200px) {
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }

        //Large devices
        @media only screen and (max-width: 992px) {
            grid-template-columns: 1fr 1fr 1fr;
        }

        //Medium devices
        @media only screen and (max-width: 768px) {
            grid-template-columns: 1fr 1fr;
        }

        //Small devices
        @media only screen and (max-width: 600px) {
            grid-template-columns: 1fr;
        }

        grid-gap: 10px;
        padding: 10px;
    }

    .card {
        display: block;
        //background-color: aqua;
        border: 1px solid black;
        border-radius: 5px;

        header {
            overflow-wrap: anywhere;
        }

        main {
            overflow-wrap: anywhere;
            padding-left: 5px;
            padding-bottom: 3px;
            height: 120px;
        }
    }
}

footer {
    color: white;
    background-color: black;
    text-align: center;

    :first-child {
        margin-top: 0;
        padding-top: 5px;
    }

    :last-child {
        margin-bottom: 0;
        padding-bottom: 8px;
    }
}
